.bg-container{
    height: 100vh;
    width: 100%;
}
.text-container{
    font-family: roboto;
}

    
@media screen and (max-width:576px){
    .bg-container{
        background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/travel-sm-bg.png");
        color: white;
        background-size: 90vh;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 180px;
    }
    
}