#navItem:hover{
    color: blue;
}
.house-cotainer{
    background-color: beige;
}
.card-img-top{
    border-radius: 8px;
    height: 200px;
}
.card{
    box-shadow: 2px 4px 4px 2px rgba(161, 56, 56, 0.2);
}
.contact-container{
    background-color: rgb(58, 80, 92);
}
.button-con{
    color: orange;
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 20px;
    border-color: orange;
    border-radius: 12px;
}
.contact-heading{
    font-size: 60px;
    color: #770c60;
}
.footer-container{
    background-color: rgb(253, 252, 255);
}
.footer-icons{
    font-size: 20px;
    color: rgb(175, 56, 96);
}
.footer-address{
    color:black;
    
}
.footer-para{
    font-size: 20px;
}
.footer-line{
    background-color: rgb(58, 80, 92);
}
.line1{
    color: white;
    height: 2px;
    
}
